.body {
    width: 100%;
    /*padding:0px;*/
    position: relative;
    background: #E8FFE8;
    padding-bottom:30px;   /* Height of the footer */
}
.indexbody { /* Use on help.html page, has no footer */
    width: 100%;
    padding:0px;
    position: relative;
    background: #E8FFE8;
}
.header { /* currently unused */
   background:#ff0;
   padding:10px;
}
.indexinfo { /* Use on help.html page */
    background: #E8E8E8;
    padding: .5cm;
    padding-top: 0.1cm;
    padding-bottom: 0.2cm;
    margin: .25cm;
    max-width: 20cm;
}
.info { /* main content section */
    background: #E8E8E8;
    padding: .5cm; 
    padding-top: 0.1cm;
    margin: .25cm; 
    padding-bottom: 0.2cm;
    max-width: 20cm;
    position: relative;
}
.footer { /* used to link back to help.html */
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;   /* Height of the footer */
    text-align: center;
}

ol { margin: 0; }
ol li { margin: 6pt 0 0 0.25cm; }
ul { margin: 0; }
ul li { margin: 6pt 0 0 0.25cm; }
